<h1>Proyecto Lista de Tareas</h1>
<ul>
    <li><a href="/add">Nueva tarea</a></li>
</ul>
<table>
    <caption>Tareas completadas</caption>
    <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Realizado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% @tareas.each {|x| 
        if x['done'] %>
        <tr>
            <td><%= x['id'] %></td>
            <td><%= x['title'] %></td>
            <td><%= x['done'] %></td>
            <td>
                <a href="/delete/<%= x['id'] %>">Borrar</a>
            </td>
        </tr>        
    <% end 
    } %>
    </tbody>
</table>
<br>
<table>
    <caption>Tareas sin completar</caption>
    <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Realizado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% @tareas.each {|x|
        if !x['done'] %>
        <tr>
            <td><%= x['id'] %></td>
            <td><%= x['title'] %></td>
            <td><%= x['done'] %></td>
            <td>
                <a href="/update/<%= x['id'] %>">Completar</a>
                <a href="/delete/<%= x['id'] %>">Borrar</a>
            </td>
        </tr>
    <% end
    } %>
    </tbody>
</table>
