<h1>Proyecto Lista de Tareas</h1>
<ul>
    <li><a href="/add">Nueva tarea</a></li>
</ul>
<br>
<h2>Tareas completadas</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Realizado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% @tareas.each {|x| 
        if x['done'] %>
        <tr>
            <td><%= x['id'] %></td>
            <td><%= x['title'] %></td>
            <td><%= x['done'] %></td>
            <td>
                 <form action="/delete/<%= x['id'] %>" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Borrar">
                </form>
            </td>
        </tr>        
    <% end 
    } %>
    </tbody>
</table>
<br>
<h2>Tareas sin completar</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Realizado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% @tareas.each {|x|
        if !x['done'] %>
        <tr>
            <td><%= x['id'] %></td>
            <td><%= x['title'] %></td>
            <td><%= x['done'] %></td>
            <td>
                <form action="/update/<%= x['id'] %>" method="post">
                    <input type="hidden" name="_method" value="PATCH">
                    <input type="submit" value="Completar">
                </form>
                <form action="/delete/<%= x['id'] %>" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Borrar">
                </form>
            </td>
        </tr>
    <% end
    } %>
    </tbody>
</table>
